[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
psycopg2 = "*"
django-storages = "*"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"
boto3 = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
django-intl-tel-input = "*"
django-tables2 = "*"

[requires]
python_version = "3.7"
