{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "New Ride" %}
{% endblock title %}

{% block content %}
<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-md">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h2>{% trans "New Ride" %}</h2>
                        </div>
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}