<footer class="footer">
    <div class="container">
        <hr>
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <ul class="nav nav-footer">
                <li class="copyright text-nowrap">
                    © {% now "Y" %} PiraUber.
                </li>
            </ul>

            <ul class="nav nav-footer">
                <li class="nav-item">
                    <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                        class="nav-link" target="_blank">Argon Theme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://github.com/andrenbrandao" target="_blank">
                        <i class="fa fa-github"></i> andrenbrandao
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>