{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <img src="{% static 'img/brand/white.png' %}" style="width: 250px;" class="img-fluid">
                        <p class="lead text-white">
                            {% trans 'The carpooling application for the Piracanga Ecovillage. Free and Open Source.' %}
                        </p>
                        <div class="btn-wrapper mt-5">
                            <a href="{% url 'ride_list' %}" class="btn btn-lg btn-primary btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-car"></i></span>
                                <span class="btn-inner--text">{% trans 'See current rides!' %}</span>
                            </a>
                            {% if not user.is_authenticated %}
                            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                                <span class="btn-inner--text">{% trans 'Sign up now' %}</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 1st Hero Variation -->
</div>
{% endblock content %}